/* .page-header {
    background-color: #000000;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 40px 0px 40px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
} */

.content {
    padding: 20px 0px 0px 0px;
}

h1, h2, h3, h4 {
    font-family: 'Kosugi Maru', sans-serif;
    padding: 20px 0px 0px 0px;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.edit {
    float: right;
}

.publish {
    float: right;
}

.remove {
    float: right;
}

.login {
    float: center;
}

.commenticon {
    float: center;
}

.post-form textarea, .post-form input {
    width: 100%;
}

/* .top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
} */

/* .post {
    margin-bottom: 70px;
} */

.post h1 a, .post h1 a:visited {
    color: #848484;
}

.comment {
    margin: 20px 0px 20px 20px;
}

/* https://getbootstrap.com/docs/4.3/getting-started/introduction/ */
.selector-for-some-widget {
    box-sizing: content-box;
}

.card-deck {
    padding: 20px 0px 0px 0px;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
}

.featurette-divider {
    margin: 5rem 0;
    color: #848484;
}

.featurette-image {
  max-width: 80%; , height: auto;
}

.footer {
    padding: 20px 0px 20px 0px;
    color: #848484;
}

*, ::after, ::before {
    box-sizing: border-box;
}
